*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgba(0, 101, 254, 1);
  --color-background: linear-gradient(
    180deg,
    #1e3448 99.99%,
    rgba(30, 52, 72, 0) 100%
  );
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Gilroy-Medium;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy-SemiBold;
}

h3 {
  font-size: 3.2rem;
  line-height: 1.25;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  font-family: Gilroy-SemiBold;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #141414;
  text-decoration: none;
}

.primary {
  color: var(--color-primary);
}

.label {
  color: var(--color-primary);
  text-transform: capitalize;
}

.section {
  max-width: 116rem;
  margin-inline: auto;
}

.heading-three {
  h2 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
  }
}

.hero {
  padding-block: 1.2rem;
}

.header {
  display: flex;
  gap: 14rem;
  justify-content: space-between;
  align-items: center;
  figure {
    transform: translateY(6px);
  }
}
.nav-links {
  display: flex;
  gap: 4rem;
  padding: 0 1rem;
}
.nav-link {
  text-transform: capitalize;
  &.active {
    text-transform: uppercase;
    a {
      color: var(--color-primary);
    }
  }
}
.cta {
  display: flex;
  gap: 2.4rem;
  padding: 1.2rem 0;
  align-items: center;
  .try-for-free {
    background: var(--color-primary);
    padding: 1.2rem 2.4rem;
    border-radius: 100vw;
    color: white;
  }
}
.hero-body {
  width: 80%;
  padding-top: 10.6rem;
  display: grid;
  gap: 5.6rem;
  margin-inline: auto;
}
.hero-content {
  display: grid;
  gap: 0.8rem;
  p {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: medium;
    text-align: center;
    width: 70%;
    margin-inline: auto;
  }
}
.hero-content_heading {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(50%);
    width: 6rem;
    height: 0.5rem;
    background: var(--color-primary);
    transform: rotate(-7deg);
  }
}
.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
  gap: 5.6rem;
  .sign-up {
    padding: 1.6rem 4.25rem;
    background: var(--color-primary);
    color: white;
    text-transform: capitalize;
    border-radius: 100vw;
  }
}
.hero-diagram {
  padding: 4rem 6rem;
  justify-self: flex-end;
  display: grid;
  gap: 0.6rem;

  backdrop-filter: blur(212px);
  border-radius: 2.4rem;
  position: relative;
  &::after {
    position: absolute;
    background: linear-gradient(
      rgba(226, 233, 240, 1),
      rgba(226, 233, 240, 0.9)
    );
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0.5px solid rgba(0, 90, 226, 1);
    border-radius: inherit;
    z-index: -3;
  }
  p {
    text-align: center;
    width: 60%;
    justify-self: center;
  }
  .hero-bg {
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    z-index: -5;
    transform: scaleY(1.15);
  }
}
.bg-overlay {
  padding-top: 7.6rem;
}

.section-outline {
  display: grid;
  grid-template-columns: 39rem 1fr;
  gap: 12rem;
}
.review {
  background: rgba(249, 251, 253, 1);
  padding-block: 6rem;
  transform: translateY(-1rem);
  color: rgba(20, 20, 20, 1);
  .right-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 7.2rem;
  }
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.why-choose-us {
  padding-top: 13rem;
  background: rgba(255, 255, 255, 1);
  .section-outline {
    gap: 9.6rem;
  }
  .left-content {
    display: grid;
    gap: 1.6rem;
    align-self: start;
    p {
      padding-left: 2.9rem;
      line-height: 1.75;
    }
    h2 {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background: linear-gradient(
          180deg,
          #112232 0%,
          rgba(77, 107, 136, 0) 100%
        );
        height: 4.8rem;
        width: 0.5rem;
        left: -1.6rem;
      }
    }
  }
  .right-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
  }
}
.article {
  display: grid;
  gap: 4rem;
  .article-img {
    width: 5.6rem;
    height: 5.6rem;
    display: grid;
    place-content: center;
    border-radius: 100%;
    background: rgba(50, 132, 255, 0.13);
  }
}
.article-body {
  display: grid;
  gap: 1.6rem;
}

.pricing {
  display: grid;
  gap: 15.4rem;
  padding-top: 13rem;
}

.pricing-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pricing-header {
  width: 40%;
  margin-inline: auto;
  text-align: center;
  display: grid;
  gap: 0.8rem;
  h2 {
    position: relative;
    justify-self: center;
    white-space: nowrap;
    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(
        180deg,
        #112232 0%,
        rgba(77, 107, 136, 0) 100%
      );
      height: 4.8rem;
      width: 0.5rem;
      left: -1.6rem;
    }
  }
}
.card {
  border-radius: 1.2rem;
  border: 0.4px solid rgba(0, 90, 226, 1);
  padding: 4.5rem 0 4.5rem 8.6rem;
  text-transform: capitalize;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

  figure {
    transform: translateY(4px);
    svg {
      stroke: var(--color-primary);
    }
  }

  .card-status {
    margin-bottom: 3.4rem;
  }
}

.card--primary {
  background: var(--color-background);
  color: rgba(255, 255, 255, 1);
  transform: scale(1.15);
  svg {
    stroke: white !important;
  }
}
.card-body {
  display: grid;
  gap: 1.6rem;
}

.card-links {
  display: grid;
  gap: 2.4rem;
  li {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
.card-header {
  display: grid;
  gap: 0.8rem;
}

.pricing-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  gap: 1rem;
  text-align: center;
  .btn {
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
  }
  .btn-outline {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
  .btn-block {
    background: var(--color-primary);
    color: white;
  }
}
.form {
  background: var(--color-background);
  margin-top: 11.2rem;
  display: grid;
  place-content: center;
  padding-block: 8.4rem;
  position: relative;
  overflow: hidden;
}

.form-content {
  background: rgba(255, 255, 255, 1);
  padding: 4rem;
  border-radius: 1.2rem;
  display: grid;
  gap: 1.2rem;
  max-width: 47rem;
  color: rgba(73, 145, 255, 1);
  p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  span {
    font-weight: 700;
  }
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  input {
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(50, 132, 255, 1);
    border-radius: 1.2rem;
    width: 100%;
    outline: none;
  }
  input:nth-child(1) {
    grid-column: span 2;
  }
  ::placeholder {
    font-size: 1.2rem;
  }
  .form-btn {
    grid-column: span 2;
    border: none;
    outline: none;
    background: rgba(0, 90, 226, 1);
    padding: 1.2rem 2.4rem;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
  }
}

.bg-left {
  span {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.bg-right {
  span:nth-of-type(1) {
    position: absolute;
    bottom: -5%;
    right: 0;
    z-index: 1;
  }
  span:nth-of-type(2) {
    position: absolute;
    bottom: -20%;
    right: 0;
    z-index: 2;
  }
}

.faqs {
  display: grid;
  justify-content: center;
  padding-top: 4.3rem;
  padding-bottom: 15.5rem;
  padding-inline: 32.4rem;
  position: relative;
  overflow: hidden;
}
.faqs-content_header {
  justify-self: center;
  h2 {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(
        180deg,
        #112232 0%,
        rgba(77, 107, 136, 0) 100%
      );
      height: 4.8rem;
      width: 0.5rem;
      left: -1.6rem;
    }
  }
}
.faqs-content_body {
  div {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 2.4rem;
    align-items: center;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding-bottom: 1.6rem;
    padding-top: 3.2rem;
    h3 {
      font-family: Gilroy-Medium;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}
.faqs-bg {
  span {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.faqs-bg-right {
  span {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.link-optimization {
  display: grid;
  place-content: center;
  gap: 2.4rem;
  justify-items: center;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  color: white;
  padding-block: 11rem 5rem;
  position: relative;
  overflow: hidden;
  a {
    padding: 1.2rem 2.4rem;
    background: rgba(0, 90, 226, 1);
    color: white;
    border-radius: 100vw;
  }
}
.link-optimization-overlay {
  span {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.link-optimization-overlay-right {
  span {
    position: absolute;
    right: 0;
    bottom: -5%;
  }
}
.footer {
  position: relative;
  padding-block: 9.5rem 8.2rem;
  overflow: hidden;
  display: grid;
  place-content: center;
  padding-inline: 20rem;
  .faqs-bg-right {
    span {
      position: absolute;
      bottom: -5%;
      right: 0;
    }
  }
}

.footer-content-section {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4rem;
  align-items: start;
}

.footer-social {
  display: grid;
  gap: 3.2rem;
  .social-links {
    display: flex;
    justify-content: space-between;
    /* gap: 2.4rem; */
  }
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 2.4rem 5.6rem;
  .footer-content {
    display: grid;
    gap: 0.8rem;
    padding-inline: 2.4rem;
  }
}
